.page-three-js {
  margin-top: 20px;

  &-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-h {
      margin-bottom: 5px;
    }
  }

  &-item-container {
    border: 1px solid black;
    margin-bottom: 20px;
  }

  &-item-new-line-des {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
  }
}
