name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        yarn

    - name: Link check
      run: |
        yarn lint
        
    - name: Build
      run: |
        yarn build:pure

    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@2.0.0
      # with:
      #   server: '49.233.40.195'
      #   username: root
      #   password: ${{ secrets.REMOTE_PASSWORD }}
      #   local-dir: './dist/'
      #   server-dir: '/root/servers/learn-react/'
      env:
        FTP_SERVER: '49.233.40.195' # 你的nginx服务器公网ip
        FTP_USERNAME: 'root' # 你的nginx服务器用户名
        FTP_PASSWORD: ${{ secrets.REMOTE_PASSWORD }} # 你的nginx服务器密码
        LOCAL_DIR: '../../build/' # 你react项目build好的文件的路径,每次服务器上会自动删除对应的文件夹后重新覆盖
        REMOTE_DIR: '/root/servers/learn-react' # 你要把你build好的文件夹放到nginx服务器上的什么位置
        METHOD: sftp # 指定服务为sftp
        PORT: '22' # 你的nginx服务器ssh端口
  
    # - uses: actions/checkout@master
    # - name: Deploy to Server
    #   uses: appleboy/scp-action@master
    #   with:
    #     host: '49.233.40.195'
    #     username: 'root'
    #     password: ${{ secrets.REMOTE_PASSWORD }}
    #     port: '22'
    #     # key: ${{ secrets.TENCENT_SSH_KEY_GA }}
    #     source: "./package.json"
    #     target: "/root/servers/learn-react"
        # source: 'dist/*'
        # host: ${{ secrets.REMOTE_HOST }}
        # target: ${{ secrets.REMOTE_PATH }}
        # port: ${{ secrets.SERVER_PORT }}
        # username: ${{ secrets.USER_NAME }}
        # password: ${{ secrets.REMOTE_PASSWORD }}
      
